/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"); */

@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*경기천년바탕체*/
@font-face {
    font-family: "GyeonggiBatang";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Noto Sans KR */
/* noto-sans-kr-100 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-100.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-200 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-300 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-regular - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-500 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-600 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-700 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-800 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
  /* noto-sans-kr-900 - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/notoSansKr/noto-sans-kr-v36-korean_latin-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
