#video {
    width: 0;
    height: 0;
}

#video .video-js {
    background-color: transparent;
}

#opinion {
    /* background: transparent url(../images/opinion/opinion_shape01.png) no-repeat 0 100%; */
    height: 100%;
}

#opinion .opinion-wrap {
    /* background: transparent url(../images/opinion/opinion_img.png) no-repeat 0 0; */
    height: 100%;
}

#opinion #opinion-question-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#opinion #opinion-question-area .opinion-question-inner-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
}

#opinion .opinion-pic {
    background: transparent url(../images/opinion/opinion_img.png) no-repeat 0 0;
    background-size: cover;
    height: 100%;
}

#opinion #opinion-question-sub-title {
    border: none;
}

#opinion #opinion-question-body {
    display: none;
}

#opinion div.form textarea#input-area {
    line-height: 31px;
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1) 30px,
            #ccc 30px,
            #ccc 31px,
            rgba(255, 255, 255, 0.1) 31px);
    background-size: 100% 31px;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    max-height: 160px;
    height: 100%;
}

#opinion div.form div.actions {
    text-align: right;
    margin-top: 1rem;
}

#opinion div.form button#btn-save {
    width: 120px;
    height: 40px;
    background: transparent url(../images/opinion/savebtn.png) no-repeat 0 0;
}

#opinion div.form button#btn-opinion {
    width: 150px;
    height: 40px;
    background: transparent url(../images/opinion/popbtn.png) no-repeat 0 0;
}

#opinion div.form button#btn-save:hover,
#opinion div.form button#btn-opinion:hover {
    background-position: 0 -40px;
}

#opinion div.form button.btn {
    text-indent: -9999em;
    cursor: pointer;
    border: none;
    background-position: 0 0px;
}

#modal-opinion .modal-content {
    max-width: 880px;
    width: 100%;
    max-height: 440px;
    height: 100%;
    display: flex;
}

#modal-opinion .modal-content #opinion-modal-content-wrap {
    width: 100%;
    height: 100%;
}

#opinion-modal-content-left-image {
    background: url("../images/opinion/opinion_modal_bg _left.png") no-repeat 0 0;
    border-radius: 6px 0 0 6px;
    box-shadow: 5px 0 7px 1px rgba(0, 0, 0, 0.2);
}

#opinion-modal-content {
    font-weight: bold;
    padding: 2rem;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

#modal-opinion-alert .box {
    background: url("../images/opinion/savealert.png") no-repeat 0 0;
    max-width: 230px;
    max-height: 110px;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#modal-opinion-alert .modal-content p.comment {
    font-size: 1.1em;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 1.4em;
    text-align: center;
    letter-spacing: -1px;
}

@media screen and (max-width: 800px) {

    #opinion .opinion-pic,
    #opinion-modal-content-left-image {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #opinion #opinion-question-area {
        overflow-x: scroll;
        justify-content: flex-start;
    }
}