.summary-wrap { position: relative; height: 100%; display: flex; flex-direction: column; /* justify-content: center; */
 align-items: center; background: transparent url(../images/summary/bg_summary.png) no-repeat 0 0 / 100%; } 
/* .summary-wrap > div { width: 100%; }  */

.summary-wrap .summary-menu-title {position: absolute;top: 10%;left: 13.5%;font-weight: 700;font-size: 1.625rem;color: #000;}
.summary-wrap .summary-content { width: 100%; height: 100%; padding: 12% 11% 7%; position: relative; overflow: hidden; } 
.summary-wrap .summary-content section.page { overflow-y: auto; height: 100%; } 
.summary-wrap .summary-content .page-body { margin-left: 4%; list-style-type: none; }
.summary-wrap .page-body li { display: flex;align-items:flex-start;gap: 1%;margin-top: 2%; }
.summary-wrap h2 i.page-num { width: 40px; height: 28px; background: transparent url(../images/summary/summarynum.png) no-repeat 0 0; float: left; margin-right: 5px; } 
.summary-wrap h2 i.page-num-1 { background-position: 0px 0px; } 
.summary-wrap h2 i.page-num-2 { background-position: -40px 0px; } 
.summary-wrap h2 i.page-num-3 { background-position: -80px 0px; } 

.summary-wrap .numberCircle { display: inline-block; } 

.summary-wrap section.page { display: none; transition: all 1s; } 

.summary-wrap section.page.active { display: block; } 

.summary-wrap section.page ul { margin: 10px 0 10px 70px; } 

.summary-wrap section.page ul li { width: 600px; text-indent: -20px; font-size: 1.1em; line-height: 1.5em; margin-top: 0.5em; margin-bottom: 0.5em; } 

.summary-wrap section.page ul li::before { content: url(../images/summary/summary_bullet.png); margin-right: 8px; } 

.summary-wrap .actions { display: flex;align-items: flex-end; gap: 2rem; position: absolute; top: 13.8%; right: 13%; width: auto; z-index: 1; } 

.summary-wrap .actions button {font-weight: 600; font-size: 0.875rem; cursor: pointer; border: none; background: transparent; } 
.summary-wrap .actions .btn-util {position: relative;}
.summary-wrap .actions .btn-util::before {content: '';position: absolute;top: -6px;left: -26px; width: 30px;height: 30px;background-size: 100%;background-position: center; }
.summary-wrap .actions #summary-print::before { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath fill='%23000' d='M22 11c1.66 0 3 1.34 3 3v6h-4v4H9v-4H5v-6c0-1.66 1.34-3 3-3h1V6h12v5h1ZM11 8v3h8V8h-8Zm8 14v-4h-8v4h8Zm2-4h2v-4c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v4h2v-2h12v2Zm1-3.5c0 .55-.45 1-1 1s-1-.45-1-1 .45-1 1-1 1 .45 1 1Z'/%3E%3C/svg%3E");}
.summary-wrap .actions #summary-download::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath fill='%23000' d='M11 20v-2h8v2h-8Zm8-7-4 4-4-4h2.5v-3h3v3H19ZM8 6h14a2 2 0 0 1 2 2v14c0 1.11-.89 2-2 2H8a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2Zm0 2v14h14V8H8Z'/%3E%3C/svg%3E");}

.summary-wrap .down-sub-wrap { display: none; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; position: absolute; top: 1.7rem; right: -10px; background: rgba(78, 85, 91, 0.8); border-radius: 10px; }
.summary-wrap .down-sub-wrap.is-active { display: flex; } 
.summary-wrap .down-sub-wrap a { display: block; padding: 0.5rem 1.4rem; color: #fff; font-size: 0.875rem; } 
.summary-wrap .down-sub-wrap a:hover { background: #404040; }
.summary-wrap .down-sub-wrap a.not-used {display: none;}

.summary-wrap #paginate { position: absolute; bottom: 0; width: 100%; left: 0; display: flex; justify-content: center; padding: 0 0 0.4rem; } 

.summary-wrap #paginate .indicator { width: 20px; height: 20px; background: transparent url(../images/summary/slideon.png) no-repeat 0 0; text-indent: -9999em; cursor: pointer; background-position: -20px 0; float: left; } 

.summary-wrap #paginate .indicator:hover,
.summary-wrap #paginate .indicator.active { background-position: 0 0; } 

.print-summary-page { margin: 1em 0; } 

.print-area { display: none; } 
.print-area > .print-summary-page { page-break-before: auto; } 
.print-area > .print-summary-page .summary-page-body { list-style: none; } 

@media print { body { background: none; } 
    #top-nav,
    .video-wrap { display: none; } 
    .print-area { display: block; }
}
