.modal-content {
    .actions {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
        position: absolute;
        top: 13%;
        right: 13%;
        width: auto;
        z-index: 1;

        button {
            font-weight: 600;
            font-size: 0.875rem;
            cursor: pointer;
            border: none;
            background: transparent;
        }
    
        .btn-util {
            position: relative;
    
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -27px;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background-size: 100%;
                background-position: center;
            }
        }
    
        #map-print {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath fill='%23000' d='M22 11c1.66 0 3 1.34 3 3v6h-4v4H9v-4H5v-6c0-1.66 1.34-3 3-3h1V6h12v5h1ZM11 8v3h8V8h-8Zm8 14v-4h-8v4h8Zm2-4h2v-4c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v4h2v-2h12v2Zm1-3.5c0 .55-.45 1-1 1s-1-.45-1-1 .45-1 1-1 1 .45 1 1Z'/%3E%3C/svg%3E");
            }
        }
    
        #map-download {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath fill='%23000' d='M11 20v-2h8v2h-8Zm8-7-4 4-4-4h2.5v-3h3v3H19ZM8 6h14a2 2 0 0 1 2 2v14c0 1.11-.89 2-2 2H8a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2Zm0 2v14h14V8H8Z'/%3E%3C/svg%3E");
            }
        }
        
        .down-sub-wrap {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 1.7rem;
            right: 0;
            background: rgba(78, 85, 91, 0.8);
            border-radius: 10px;
    
            &.is-active {
                display: flex;
            }
    
            & a {
                display: block;
                padding: 0.5rem 1.4rem;
                color: #fff;
                font-size: 0.875rem;

                &:hover {
                    background: #404040;
                }
            }
        } 
    }
}
