.step_retry {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-image: url('../images/quiz/bg_retry.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(242,242,242,0.6);

    &.is-active {
        display: block;
    }
}